*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    width: 100%;
    height: 100vh;
}

header{
    height: 8vh;
}
nav ul {
    height: 10%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li{
    color: white;
    background-color:rgb(104, 104, 104);
    margin: 5px 5px;
    padding: 5px;
    border-radius: 5px;
}


main{
    /*background-color: skyblue;*/
    height: 78vh;
    width: 90%;
    margin: 3vh auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.immagini{
    width: 14%;
    height: 19%;
    position: relative;
}

img{
    height: 100%;
    width: 100%;
}

.immagini::after {
    content: "\f131 Pinco Pallo";
    font-family: FontAwesome;
    color:white;
    width: 72px;
    font-size: 12px;
    background-color: gray;
    position: absolute;
    bottom: 0;
    left: 0;
}




footer{
    background-color: rgb(46 46 46);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul{
    display: flex;
    align-items: center;
}

footer ul.icone li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5px 20px;
    /*margin:0 20px;*/
}

.icone{
    color:white
}

footer ul li i{
    font-size: 23px;
    margin:5px 0;
}

footer ul li span{
    font-size:12px;
}

i.fa-share-square{
    color:greenyellow
}

ul.footer-destra.icone{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.09);
    color: red;
    padding: 10px;
}


footer ul li i.clicca{
    position: relative;
}
footer ul li i.clicca::after {
    content: "\f077";
    font-family: FontAwesome;
    position: absolute;
    font-size: 10px;
    top: 15px;
    left:55px;
    color: white;
}

footer ul li i.fa-microphone::after{
    left:30px;
}

footer ul li:hover{
    cursor: pointer;
}
footer ul li:hover span{
    color:skyblue;
}
footer ul li i.clicca:hover::after{
    color:skyblue;
    font-size: 15px;
    top:10px;
}

ul.footer-destra.icone:hover{
    cursor: pointer;
    background-color: red;
    color:white;
}
